@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: darkslategrey;
    position: relative;
    font-size: 60px;
	  align-items: center;
}

html {
    background-color: rgb(24, 24, 99);
}

body {
	position: relative;
	text-align: center;
}

ol{
  text-align: center;
  background: white;
  border: 3px solid white;
  border-radius: 4px;
  font-family: Raleway;
  position: relative;
  list-style: none;
}

h1{
  text-align: center;
  background: white;
  border: 3px solid white;
  border-radius: 10px;
  font-family: Raleway;
  position: relative;
}